<div id="footer">
    <a target="_blank" href="algemene-voorwaarden.html">Algemene Voorwaarden</a> en <a target="_blank" href="privacyverklaring.html">Privacyverklaring</a><br>
    <span>Hulp nodig?</span> <a href="mailto:info@baltropical.be">info@baltropical.be</a><br>
    <span>Made by <a target="_blank" href="https://ndvibes.com">Niel Duysters - NDVibes</a></span>
</div> 
