<link rel="stylesheet" type="text/css" href="style/general.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
<script src="js/general.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ticket Voorverkoop</title>
