/*Styling for side-menu*/
#menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    cursor: pointer;
}
#menu {
    text-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: -3px;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-right: solid 3px #FF6600;
}
#menu a {
    text-decoration: none;
    font-size: 110%;
    color: #807676;
    display: inline-block;
    margin-top: 5vh;
    overflow: none;
    white-space: nowrap;
}
#menu a.active {
    color: #E500BA;
}
#menu a.active:hover::after {
    background-color: #E500BA;
}
#menu a::after {
    width: 0;
    content: "";
    height: 3px;
    display: block;
    transition: 0.5s ease;
}
.mobileClicked::after {
    width: 100%;
    background-color: #E500BA;
}
#menu a:not(.active):hover {
    color: #5B5B5B;
}
#menu a:hover::after {
    width: 100%;
    background-color: #FF6600;
}
#menu .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 0;
}
#menu .close-btn:hover {
    color: #888888;
}
#menu .close-btn:hover::after {
    display: none;
}

.section { margin-top: 70px; }
.section-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
}
.section-controls a {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 180px;
    background-color: #2E2E2E;
    margin: 15px;
    margin-left: 0;
    float: left;
}
.section-controls a img {
    max-width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.section-controls a img#warning {
    position: absolute;
    right: 5px;
    top: 5px;
    left: auto;
    width: 30px;
    transform: translate(0, 0) !important;
}
.section-controls a span {
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translate(-50%, 0);
    color: #FFFFFF;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
}
.section-controls a::after {
    width: 0;
    content: "";
    height: 3px;
    display: block;
    transition: 0.5s ease;
}
.section-controls a:hover::after {
    width: 100%;
    background-color: #FF6600;
}

#menu-content {
max-width: 70%;
margin: auto;
}
#menu-content .section .section-controls {
justify-content: space-between;
}
#menu-content .section .section-controls a {
width: 100px;
height: 100px;
}
#menu-content .section .section-controls a span {
font-size: 0.8em;
}
#menu-content {
padding-bottom: 200px;
}
#menu #top-controls {
    position: absolute;
    left: 10px;
    top: 10px;
    float: left;
}
#menu #top-controls a {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #2E2E2E;
    margin: 20px;
    margin-left: 0;
    margin-top: 0px;
    float: left;
}
#menu #top-controls a img {
    max-width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
