body {
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.banner {
    text-align: center; 
}
.form-wrapper {
    display: none;
}
#option-select {
    width: calc(100% + 58px);
    margin: -30px;
    margin-bottom: 30px;
    overflow: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #D8D8D8;
    border: solid 1px #D8D8D8;
}
#option-select .option {
    width: 50%;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}
#option-select .option span { cursor: pointer; }
#option-select .option:first-child {
    border-right: solid 2px #A4A4A4;
}
#option-select .option span::after {
    content: '';
    width: 100%;
    display: block;
    height: 2px;
}
#option-select .option span::after {
    width: 100%;
}
#option-select .option:first-child span {
    color: #FF6600;
}
#koopNu-btn {
   margin-top: 50px;
   width: 190px;
   background-color: rgba(0, 0, 0, 0.7);
}
.tos {
    font-size: 14px;
    position: relative;
    top: -3px;
    font-family: "Raleway Medium";
}
.price {
    font-family: "Raleway Medium";
    font-size: 20px;
    margin-top: 7px;
    height: 27px;
    display: inline-block;
}
.progress {
    display: none;
}

#min16 {
    display: none;
}

hr {
    margin-top: 30px;
}

#add-ticket {
    text-align: center;
    margin: 15px;
    cursor: pointer;
}
.ticket {
    margin-top: 20px;
    background-color: #D8D8D8;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
.ticket .close {
    font-size: 40px;
    font-weight: normal;
    position: absolute;
    top: 5px;
    right: 15px;
    color: #807676;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: #A4A4A4;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}
.ticket .close span {
    position: relative;
    top: -12px;
    pointer-events: none; 
}
.ticket input[type='text'] {
    display: block;
    position: relative;
    right: auto;
    width: 100%;
}
#ticket-container,
#add-ticket,
#hrTicket {
    display: none;
}

/*Responsive*/
@media screen and (max-width: 801px) {
    body {
        background-image: none;
    }
    #option-select {
        width: calc(100% + 18px);
        margin: -10px;
        margin-bottom: 30px;
    }
}
