body {
    background-color: #FFFFFF;
    color: #000000;
} 
.banner {
    display: none;
}
.banner h1 {
    
    font-family: "Raleway Bold";
}
.scissor-line {
    margin-top: 20px;
    padding: 0.2cm;
    border: dashed 1px #2E2E2E;
    width: 13cm;
}
.ticket {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
}
.ndvibes-wrapper {
    margin-top: 50px;
    font-family: Arial;
    color: #6E6E6E;
}
.ndvibes-logo {
    width: 162px;
}
.tip {
    font-style: italic;
    font-family: "Raleyway Medium";
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

@media print {
    .ticket {
    position: relative;
    width: 11cm;
    height: 5cm;
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
   /* background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;*/
    -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}
