body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: sans-serif;
}

#container {
    width: 99%;
    margin: auto;
    text-align: center;
}
h1 {
    font-size: 1.8em;
    padding: 0;
    margin: auto;
}
.qrcode {
    width: 90%;
    border: solid 3px #FFFFFF;
    border-radius: 10px;
    margin-top: 15px;
}

.user-info {
    margin-top: 20px;
    font-size: 1.5em;
    color: #A4A4A4;
    font-weight: bold;
}
a {
    
}
.firstname,
.lastname {
}
.age {
    font-size: 2em;
}
a:not(#btnNext) {
    text-decoration: none !important;
    font-size: 0.8em;
    color: #6E6E6E !important;
}
#logo {
    max-width: 70%;
}
.logospan {
    font-size: 1.2em;
    color: #6E6E6E;
    font-weight: bold;
}
.next {
    margin-top: 50px;
    width: 100%;
}
.next .logo {
    margin-top: 150px;
}
#btnNext {
    color: #FFFFFF;
    font-weight: bold;
    border: solid 2px #6E6E6E;
    border-radius: 10px;
    text-decoration: none;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
    text-align: center;
}

.ticket {
    position: relative;
    border: solid 4px #FF6600;
    border-radius: 10px;
    padding: 7px;
    padding-bottom: 10px;
    padding-top: 15px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 15px;
}
.inner-triangle {
    border-left: 30px solid transparent;
    border-right: 30px solid #FF6600;
    border-bottom: 30px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    z-index: 2;
}
.inner-triangle#top-left {
    border-right: 30px solid transparent;
    border-left: 30px solid #FF6600;
    border-bottom: 30px solid transparent;
    top: 0; left: 0;
}
.inner-triangle#bottom-right {
    border: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid #FF6600;
    border-top: 30px solid transparent;
    bottom: 0; right: 0;
}
.inner-triangle#bottom-left {
    border: 0;
    border-right: 30px solid transparent;
    border-left: 30px solid #FF6600;
    border-top: 30px solid transparent;
    bottom: 0; left: 0;
}
.ad-text {
    color: #A4A4A4;
}
