<div class="section">
    <h2>Help & Support</h2>
    <div class="section-controls">
        <a href="mailto:contact@ndvibes.com" title="Send a mail for help!">
            <img src="../images/adminPanelImages/mailsupport.png" />
            <span>E-mail support</span>
        </a>
        <a href="tel:+320479374727" title="Make a call for help!">
            <img src="../images/adminPanelImages/phonesupport.png" />
            <span>+32 479 374 727</span>
        </a>
        <a href="https://api.whatsapp.com/send?phone=32479374727" target="_blank" title="Whatsapp for help!">
            <img src="../images/adminPanelImages/whatsapp.png" />
            <span>Whatsapp</span>
        </a>
        <a href="help.php" title="Read the support pages." target="_blank">
            <img src="../images/adminPanelImages/helppages.png" />
            <span>Help Pages</span>
        </a>
    </div>
</div>
<div class="section">
    <h2>Configuration</h2>
    <div class="section-controls">
        <a href="theme.php" title="Configure colors and images.">
            <img src="../images/adminPanelImages/config-theme.png" />
            <span>Theme</span>
        </a>
        <a href="config.php" title="Configure database, host, payment API settings,...">
            <img src="../images/adminPanelImages/warning.png" id="warning" title="Warning: Advanced options!" />
            
            <img src="../images/adminPanelImages/config-settings.png" />
            <span>Settings</span>
        </a>
        <a href="shutdown.php" title="Configure when to stop sales and shutdown the ticket system.">
            <img src="../images/adminPanelImages/warning.png" id="warning" title="Warning: Advanced options!" />
            
            <img src="../images/adminPanelImages/shutdown.png" />
            <span>Shutdown</span>
        </a>
        <a href="price.php" title="Configure the price for a ticket.">
            <img src="../images/adminPanelImages/warning.png" id="warning" title="Warning: Advanced options!" />
            
            <img src="../images/adminPanelImages/price.png" />
            <span>Set price</span>
        </a>
        <a href="manage-admins.php" title="Add an administrator account.">
            <img src="../images/adminPanelImages/addadmin.png" />
            <span>Manage Admins</span>
        </a>
        <a href="remove-auth-cookies.php" title="Remove the authentication cookie-file (recommeded to do often).">
            <img src="../images/adminPanelImages/remove-auth-cookies.png" />
            <span>Remove Auth Cookies</span>
        </a>
    </div>
</div>
<div class="section">
    <h2>Logs</h2>
    <div class="section-controls">
        <a href="logs.php" title="View logs of ticket sales.">
            <img src="../images/adminPanelImages/logs.png" />
            <span>Logs</span>
        </a>
        <a href="systemlogs.php" title="View logged errors in the system (database connections, false responses,...)">
            <img src="../images/adminPanelImages/systemlogs.png" />
            <span>System Logs</span>
        </a>
        <a href="adminlogs.php" title="View logged admin activities.">
            <img src="../images/adminPanelImages/adminlogs.png" />
            <span>Admin Logs</span>
        </a>
    </div>
</div>
<div class="section">
    <h2>Database & Orders</h2>
    <div class="section-controls">
        <a href="database.php" title="View the user database.">
            <img src="../images/adminPanelImages/user-database.png" />
            <span>User Database</span>
        </a>
        <a href="giveaway.php" title="Manually add users to the database.">
            <img src="../images/adminPanelImages/adduser.png" />
            <span>Giveaway Ticket</span>
        </a>
        <a href="manage-coupons.php" title="Manage the coupons.">
            <img src="../images/adminPanelImages/manage-coupons.png" />
            <span>Manage Coupons</span>
        </a>
        <a href="mails.php" title="Resend mails.">
            <img src="../images/adminPanelImages/mails.png" />
            <span>Mails</span>
        </a>
    </div>
</div>
<div class="section">
    <h2>Statistics & Analytics</h2>
    <div class="section-controls">
        <a href="database.php" title="View Google Analytics results.">
            <img src="../images/adminPanelImages/user-database.png" />
            <span>Google Analytics</span>
        </a>
        <a href="database.php" title="View statistics of database content.">
            <img src="../images/adminPanelImages/user-database.png" />
            <span>Orders Statistics</span>
        </a>
    </div>
</div>
